<section id="o-mne" class="mt-5 mb-4">
    <div class="container px-lg-5 mt-5 mb-0 px-3">
        <div class="card g-4 p-4 container">
            <div class="row">
                <div class="col-lg-7 text-center align-self-center px-4">
                    <h2 class="h1 text-center">Něco málo o mně</h2>
                    <p>
                        Jmenuji se David Trmota a specializuji se na <strong>montáž sádrokartonů</strong>.
                        Nabízím komplexní služby v oblasti montáže sádrokartonových příček, podhledů a stropů, včetně finálních povrchových úprav.
                    </p>
                    <p>
                        Mám bohaté zkušenosti s realizací projektů pro soukromé i komerční prostory. Zakládám si na kvalitě, preciznosti a spolehlivosti.
                        Pokud hledáte odborníka na <strong>sádrokartonářské práce</strong> z Plzeňského kraje, který se postará o každý detail, neváhejte mě kontaktovat.
                    </p>
                </div>
                <div class="col-lg-5 d-flex justify-content-center text-center px-4">
                    <img src="/images/brand/davidtrmota.webp" alt="sadrokartony_DavidTrmota" class="img-fluid card" loading="lazy" />
                </div>
            </div>
        </div>
    </div>
</section>