<section id="uvod" aria-label="Úvodní sekce">
    <Carousel Autoplay="CarouselAutoPlay.StartOnPageLoad" Crossfade="true" Interval="1000">
        <!-- Neměnný popisek -->
        <div class="carousel-static-caption position-absolute top-50 start-50 translate-middle text-center z-2">
            <!-- Pozadí s neprůhledností -->
            <div class="bg-black opacity-50 position-absolute top-0 start-0 w-100 h-100 card"></div>
            <!-- Text -->
            <h1 class="p-3 display-2 text-white position-relative"><strong>Sádrokartony Trmota</strong></h1>
        </div>

        <!-- Položky carouselu -->
        <CarouselItem Active="true">
            <Image Src="images/carousel/sadrokarton_1a.webp" Class="object-fit-cover h-100 w-100 vh-100" Loading="lazy" Alt="Sádrokarton" />
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/carousel/sadrokarton_2a.webp" Class="object-fit-cover h-100 w-100 vh-100" Loading="lazy" Alt="Sádrokarton" />
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/carousel/sadrokarton_3a.webp" Class="object-fit-cover h-100 w-100 vh-100" Loading="lazy" Alt="Sádrokarton" />
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/carousel/sadrokarton_4a.webp" Class="object-fit-cover h-100 w-100 vh-100" Loading="lazy" Alt="Sádrokarton" />
        </CarouselItem>
    </Carousel>
</section>