<section id="privacyPolicy" aria-label="Zásady ochrany osobních údajů" class="pb-4">
    <div class="container col-md-10 col-lg-12 col-xl-10 lead justify-content-center text-center">
        <h2 class="fs-1 text-uppercase fw-bold px-2 text-center">Zásady ochrany osobních údajů</h2>
        <p>
            Vítám vás na mých webových stránkách!
            Vaše soukromí je pro mě nesmírně důležité, a proto vám zde vysvětlím, jaké údaje shromažďuji, jak s nimi nakládám a jak je chráním.
        </p>

        <hr class="my-4" />

        <div class="pb-3">
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Kdo je správcem vašich osobních údajů?</h3>
            <p>
                Správcem vašich osobních údajů jsem já, <span class="fw-bold">David Trmota</span>, provozovatel těchto webových stránek.
                Pokud máte jakékoli dotazy ohledně ochrany osobních údajů, neváhejte mě kontaktovat prostřednictvím e-mailu <a href="mailto:trmot@seznam.cz" class="text-decoration-none fw-bold">trmot@seznam.cz</a>.
            </p>
        </div>
        <div>
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Prohlášení správce vašich osobních údajů</h3>
            <p>
                Prohlašuji, že coby správce vašich osobních údajů splňuji veškeré zákonem stanovené povinnosti, zejména takové, které se týkají ochrany osobních údajů a GDPR.
                Co to pro vás znamená v praxi?
            </p>
            <ul class="list-style text-start text-md-center">
                <li>Budu zpracovávat vaše osobní údaje pouze v nezbytných případech. Základem tohoto konání může být oprávněný zájem, plnění smlouvy, zákonná povinnost nebo udělení souhlasu.</li>
                <li>Respektuji informační povinnost dle článku 13 GDPR a každému člověku dopředu oznamuji, že hodlám zpracovávat jeho osobní údaje.</li>
                <li>Pomáhám návštěvníkům těchto webových stránek uplatňovat všechna práva stanovená zákonem o ochraně osobních údajů a GDPR. </li>
            </ul>
        </div>

        <hr class="my-4" />

        <div class="pb-3">
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Jaké osobní údaje zpracovávám a proč?</h3>
            <p>Pokud se rozhodnete využít kontaktní formulář na těchto webovkách, budu od vás potřebovat následující údaje:</p>
            <ul class="list-style text-start text-md-center">
                <li><span class="fw-bold">Jméno</span> - abych vás mohl oslovit</li>
                <li><span class="fw-bold">E-mail</span> - abych vám mohl odpovědět</li>
                <li><span class="fw-bold">Telefonní číslo</span> - abych vás mohl kontaktovat telefonicky, pokud tento způsob preferujete</li>
                <li><span class="fw-bold">Popis zakázky</span> - abych správně porozuměl vašim potřebám a mohl vytvořit odpovídající nabídku</li>
            </ul>
            <p>
                Tyto údaje zpracovávám výhradně za účelem odpovědi na váš dotaz či poptávku.
                Nebudou tedy za žádných okolností poskytovány třetím stranám.
            </p>
        </div>

        <div class="pb-3">
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Právní základ zpracování</h3>
            <p>
                Vaše osobní údaje zpracovávám na základě vašeho souhlasu, který udělujete odesláním kontaktního formuláře.
                Bez těchto údajů bych nemohl reagovat na vaši zprávu.
            </p>
        </div>

        <div class="pb-3">
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Jak dlouho údaje uchovávám?</h3>
            <p>Vaše osobní údaje uchovávám pouze po dobu nezbytně nutnou k vyřízení vašeho dotazu či poptávky, maximálně však 6 měsíců od poslední komunikace.</p>
        </div>

        <div>
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Jak jsou vaše údaje chráněny?</h3>
            <p>
                Všechny údaje, které mi poskytnete, jsou chráněny standardními bezpečnostními opatřeními.
                Používám zabezpečené připojení (HTTPS), neposkytuji údaje třetím stranám a zajišťuji pravidelné aktualizace těchto stránek.
            </p>
        </div>

        <hr class="my-4" />

        <div>
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Vaše práva</h3>
            <p>Máte právo:</p>
            <ul class="list-style text-start text-md-center">
                <li>požadovat přístup k vašim osobním údajům,</li>
                <li>požadovat opravu nepřesných nebo neúplných údajů,</li>
                <li>požadovat výmaz vašich údajů, pokud již nejsou potřebné,</li>
                <li>vznést námitku proti zpracování,</li>
                <li>požadovat omezení zpracování vašich údajů,</li>
                <li>podat stížnost u Úřadu pro ochranu osobních údajů.</li>
            </ul>
        </div>

        <hr class="my-4" />

        <div>
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Kontaktní údaje</h3>
            <p>Pokud máte jakékoli otázky nebo si přejete uplatnit svá práva, kontaktujte mě.</p>
            <ul class="list-unstyled">
                <li><span class="fw-bold">Adresa:</span> Zborovy 63, 340 34 Zborovy</li>
                <li><span class="fw-bold">E-mail:</span> <a href="mailto:trmot@seznam.cz" class="text-decoration-none">trmot@seznam.cz</a></li>
                <li><span class="fw-bold">Telefon:</span> +420 723 124 625</li>
            </ul>
        </div>

        <hr class="my-4" />

        <div>
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Soubory cookies</h3>
            <p>
                Na těchto stránkách využívám pouze technická cookies, která jsou nezbytná pro správné fungování.
                Tyto soubory například umožňují udržení uživatelské relace nebo správné načítání obsahu.
            </p>
            <p>
                Technická cookies neobsahují žádné osobní údaje a nejsou využívána k marketingovým nebo analytickým účelům.
                Jelikož jsou nezbytná pro provoz webu, není podle platné legislativy vyžadován váš souhlas s jejich použitím.
            </p>
            <p>
                Pokud by se situace v budoucnu změnila, samozřejmě tomu webovky zavčasu přizpůsobím.
            </p>
        </div>

        <hr class="my-4" />

        <div class="pb-3">
            <h3 class="fs-3 text-uppercase fw-bold px-2 text-center">Změny zásad ochrany osobních údajů</h3>
            <p>Tyto zásady mohou být aktualizovány. Datum poslední aktualizace: <strong>24. 1. 2025</strong>.</p>

            <p>Děkuji, že mi důvěřujete!</p>
        </div>
    </div>
</section>

<style>
    .list-style {
        list-style-position: inside;
    }
</style>