@inherits LayoutComponentBase

<header class="sticky-top">
    <NavMenu @rendermode="InteractiveServer" />
</header>

<div class="d-flex flex-column min-vh-100">
    <!-- Hlavní obsah stránky -->
    <main class="flex-grow-1">
        @Body
    </main>

    <Footer @rendermode="InteractiveServer" />
</div>